#header {
    background-color: lightblue;
    color: purple;
}
.header-title {
    text-align: center;
}

body {
    padding: 20px;
    background-color: blanchedalmond;
    font-family: 'Inter', sans-serif;
}

video {
    display: block;
    margin: auto;
}
